body {
    color: rgb(255, 255, 255);
    background: rgb(60, 34, 34);
    margin: 0px;
    font-family: "Arima", system-ui;
    margin-bottom: 100px;
}
header {
    border-bottom: solid 2px rgb(27, 1, 1);
    padding: 12px;
    font-size: 25px;
    color: rgb(255, 239, 239)
}
section {
    background: rgb(36, 15, 15);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
     margin-right: 20px;
}
h1 {
    font-size: 30px;
}
p {
     font-size: 15px;
    }
img{
    height:155px;
}
.footer{
  position:static;
  bottom:8;
  width:90%;
  text-align:center;
  padding: 0px;
  display: flex;
  overflow-x: auto;
  gap: 2px;
  }
  .footer img {
    opacity:0.4;
  }
  .footer img:hover {
    opacity: 1.0;
    border: 2px solid rgb(254, 250, 250);
  }
  .categoria h2{
    color:rgb(237 230 255)
  }